DB_USER=
DB_PASS=
DB_NAME=

DB_URL=postgres://username:password@127.0.0.1:5432/database_name

COOKIE_ENCRYPTED=

DOMAIN=socks5.website

STAFF_UUID=


CRYPTO_PAYMENT_GATEWAY_URL=http://localhost:8080
CRYPTO_PAYMENT_GATEWAY_API_KEY=

# bearer token
CW_NOTIFY_URL=https://stager.test/internal/payment_status_update



TG_BOT_TOKEN=
TG_CHAT_ID=




PLATEGA_MERCHANT_ID=
PLATEGA_SECRET=
PLATEGA_CALLBACK_URL=


TROCADOR_XMR_ADDRESS=
TROCADOR_CALLBACK_URL=
